<h1>Add user to project</h1>

<div class="row">
  <div class="container">
    <%= form_tag(controller: "projects", action: "add_user_create", method: "post") do%>
    <select name="user">
      <option selected disabled>Choose User</option>
      <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
    <select name="role">
      <option value="owner">Owner</option>
      <option value="developer">Developer</option>
      <option value="tester">Tester</option>
    </select>
        <%= submit_tag("Add user") %>
    <% end %>
  </div>
  <div class="row">
    <%= @roles.pretty_inspect %>
  </div>
</div>