<!DOCTYPE html>
<html>

<head>
  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <%= csrf_meta_tags %>

    <%= env_stylesheet_link_tag(static: 'application',media: 'all',                      'data-turbolinks-track' => "reload")  %>

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/header' %>



    <div class="uk-container uk-container-expand">
      <% flash.each do |key, value| %>
        <div uk-alert class="uk-alert-primary uk-alert-<%= key %>">
          <%= value %>
        </div>
        <% end %>
          <%= yield %>
            <%= render 'layouts/footer' %>
              <%= debug(params) if Rails.env.development? %>
    </div>

    <%= redux_store_hydration_data %>
</body>

</html>