<!DOCTYPE html>
<html>

<head>
  <title>
    <%= full_title(yield(:title)) %>
  </title>

  <%= env_stylesheet_link_tag(static: 'application_static',
                              hot: 'application_non_webpack',
                              media: 'all',
                              'data-turbolinks-track' => "reload")  %>



    <!-- These do use turbolinks -->
    <%= env_javascript_include_tag(static: 'application_static',
                                 hot: 'application_non_webpack',
                                 'data-turbolinks-track' => "reload") %>
      <%= csrf_meta_tags %>
</head>

<body>
  <!--<%= render 'layouts/header' %>-->
  <%= react_component "NavigationBarApp" %>


    <div class="uk-container uk-container-expand">
      <% flash.each do |key, value| %>
        <div uk-alert class="uk-alert-primary uk-alert-<%= key %>">
          <%= value %>
        </div>
        <% end %>
          <%= yield %>
            <%= render 'layouts/footer' %>
              <%= debug(params) if Rails.env.development? %>
    </div>

    <%= redux_store_hydration_data %>
</body>

</html>